body {
  font-family: 'Spline Sans', sans-serif;
  background-color: #1a1a1a;
  color: #ffffff;
  margin: 0;
}

.dashboard-page {
  display: flex;
  height: 100vh;
}

.sidebardash {
  width: 20%;
  background-color: #0d0d0d;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebardash h2 {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}

.sidebardash ul {
  list-style: none;
  padding: 0;
}

.sidebardash li {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-bottom: 25px;
  color: #b3b3b3;
  cursor: pointer;
}

.sidebardash li svg {
  margin-right: 10px;
}

.sidebardash li:hover {
  color: #ffffff;
}

.main-content-dash {
  width: 80%;
  padding: 20px 40px;
  background-color: #262626;
}

.main-content-dash h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.inventory-count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333333;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.count-info h3 {
  font-size: 20px;
  margin: 0;
}

.count-info p {
  color: #b3b3b3;
  font-size: 14px;
}

.add-product-button {
  background-color: #77181D;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: inline;
  transition: background-color 0.3s ease;
}

.add-product-button:hover {
  background-color: #990000;
}

.dashboard-stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.stat-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(145deg, #2a2a2a, #1e1e1e);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.stat-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.stat-icon {
  font-size: 40px;
  color: #ffffff;
  margin-right: 20px;
}

.stat-info h3 {
  font-size: 28px;
  color: #ffffff;
  margin: 0;
}

.stat-info p {
  font-size: 16px;
  color: #b3b3b3;
  margin: 0;
}

/* Colores personalizados para las tarjetas */
.stat-products {
  background: linear-gradient(145deg, #3a3a3a, #2a2a2a);
  border-left: 5px solid #4CAF50; /* Verde */
}

.stat-users {
  background: linear-gradient(145deg, #3a3a3a, #2a2a2a);
  border-left: 5px solid #2196F3; /* Azul */
}

.stat-stock {
  background: linear-gradient(145deg, #3a3a3a, #2a2a2a);
  border-left: 5px solid #FFC107; /* Amarillo */
}

.stat-inventory-value {
  background: linear-gradient(145deg, #3a3a3a, #2a2a2a);
  border-left: 5px solid #FF5722; /* Naranja */
}

.stat-categories {
  background: linear-gradient(145deg, #3a3a3a, #2a2a2a);
  border-left: 5px solid #9C27B0; /* Morado */
}

.stat-alerts {
  background: linear-gradient(145deg, #3a3a3a, #2a2a2a);
  border-left: 5px solid #F44336; /* Rojo */
}
