
body {
    font-family: 'Spline Sans', sans-serif;
    background-color: #1a1a1a;
    color: #ffffff;
    margin: 0;
    overflow-x: hidden;
  }
  
  .password-recovery-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .recovery-container {
    background-color: #262626;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    width: 400px;
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #b3b3b3;
  }
  
  .form-group input {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #333;
    color: #ffffff;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  .send-button {
    background-color: #77181D;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .send-button:hover {
    background-color: #990000;
  }
  